html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: #5F677E;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  width: 100%;
  max-width: 450px;
  margin: 64px auto;
  cursor: none;
}

.wordmark img {
  width: 100%;
  max-width: 450px;
}

main {
  width: 100%;
  max-width: 450px;
  margin: 48px auto;
}

footer {
  width: 100%;
  max-width: 450px;
  margin: 48px auto;
}