html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: #5F677E;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

header {
  width: 100%;
  max-width: 400px;
  margin: 64px auto;
  cursor: none;
}

.letter-wrap {
  position: relative;
  width: 100%;
  height: 200px;
  perspective: 800px;
}

.letter {
  position: absolute;
  width: 50px;
  height: 85px;
  font-size: 72px;
  font-weight: 100;
  line-height: 85px;
  text-align: center;
  text-transform: uppercase;
  color: #20BBBD;
  transform-style: preserve-3d;
  transition: transform 1500ms ease-out;
  transform: rotateY(180deg);
}

.loaded .letter {
  transform: rotateY(0deg);
}

.letter.active {
  transform: rotateY(360deg);
  transition: transform 0ms linear;
}

/*.letter-wrap:hover .letter {
  transform: rotateY(180deg);
  transition: transform 500ms ease-out;
}*/

.letter-a {
  transition-delay: 50ms;
}

.letter-n {
  transition-delay: 150ms;
}

.letter-d {
  transition-delay: 250ms;
}

.letter-e {
  transition-delay: 350ms;
}

.letter-r {
  transition-delay: 450ms;
}

.letter-s {
  transition-delay: 550ms;
}

.pos-tl {
  top: 0;
  left: 0;
}

.pos-tm {
  top: 0;
  left: calc(50% - 25px);
}

.pos-tr {
  top: 0;
  left: calc(100% - 50px);
}

.pos-bl {
  top: calc(100% - 85px);
  left: 0;
}

.pos-bm {
  top: calc(100% - 85px);
  left: calc(50% - 25px);
}

.pos-br {
  top: calc(100% - 85px);
  left: calc(100% - 50px);
}

main {
  width: 100%;
  max-width: 400px;
  margin: 48px auto;
}

footer {
  width: 100%;
  max-width: 400px;
  margin: 48px auto;
}

/* TEMP 
* { background-color: rgba(0,0,0,0.08); }*/
